<ion-header>
  <ion-toolbar>
    <ion-title>Stanza</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-align-items-center">
    <ion-col>
      ion-col
    </ion-col>
    <ion-col>
      ion-col
    </ion-col>
    <ion-col>
      ion-col
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col>
      ion-col
    </ion-col>
    <ion-col></ion-col>
    <ion-col>
      ion-col
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col>
      ion-col
    </ion-col>
    <ion-col (click)="VediamoStoQuadro(1)">
      quadro funzionante
    </ion-col>
    <ion-col>
      ion-col
    </ion-col>
  </ion-row>

</ion-content>
