<ion-header>
  <ion-toolbar>
    <ion-title>Stanza</ion-title>
    <ion-button hidden="true"></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-align-items-center">
    <ion-col>
      <ion-img src="../../assets/img/AngeloDX.jpg"></ion-img>
    </ion-col>
    <ion-col>
      <ion-img (click)="VediamoStoQuadro(1)" src="../../assets/img/Funziona.jpg"></ion-img>
    </ion-col>
    <ion-col>
      <ion-img src="../../assets/img/DonnaSX.jpg"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col></ion-col>
    <ion-col>
      <ion-img  src="../../assets/img/FinestraMezzo.jpg"></ion-img>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col></ion-col>
    <ion-col></ion-col>
    <ion-col></ion-col>
  </ion-row>

</ion-content>
