<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title size="large">UrLumos Villa Cordellina Lombardi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="super-center">UrLumos</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="wrapper">
    <div class="super-center">
      <ion-grid>
          <ion-row>
            <ion-col (click)="ChangeRoom(1)">
                <p>Stanza Quadrata</p>
            </ion-col>
            <ion-col (click)="ChangeRoom(2)">
              <p>Muro Rotto</p>
            </ion-col>
            <ion-col (click)="ChangeRoom(3)">
              <p>Corridoio</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col (click)="ChangeRoom(4)">
                <p>Stanza Quadrata</p>
            </ion-col>
            <ion-col (click)="ChangeRoom(5)">
              <p>Muro Rotto</p>
            </ion-col>
            <ion-col (click)="ChangeRoom(6)">
              <p>Corridoio</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col (click)="ChangeRoom(7)">
                <p>Stanza Quadrata</p>
            </ion-col>
            <ion-col (click)="ChangeRoom(8)">
              <p>Muro Rotto</p>
            </ion-col>
            <ion-col (click)="ChangeRoom(9)">
              <p>Corridoio</p>
            </ion-col>
          </ion-row>
        </ion-grid>
    </div>
  </div>

</ion-content>
