<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title size="large">UrLumos Villa Cordellina Lombardi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="super-center">UrLumos</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="wrapper">
    <div class="super-center">
      <ion-grid>
        <ion-col>
          <ion-row (click)="ChangeRoom(1)">
            <p>Halal Test</p>
          </ion-row>
        </ion-col>
        <ion-grid>

        </ion-grid>
      </ion-grid>
    </div>
  </div>

</ion-content>
